/*element selector, selected by tag name*/
body{
    background-color: aquamarine;
}

/* id selector, selected by id name, id is supposed to be unique */
#element{
    width:100px;
    height:100px;
    background-color: red;
    position:absolute;
    top:100px;
    left:100px;
   /* border-radius: 50%; */
}

/* class selector, selected by class name */
.specialbutton{
    
}